## General
NODE_ENV=development
PORT=3001
TRUST_PROXY=0
API_DOCS_ENABLED=false
THROTTLER_ENABLED=false

## PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASS=password
POSTGRES_DB_NAME=health_circle
POSTGRES_SSL=false
POSTGRES_IS_LOGGING_ENABLED=false

## Logger (PostgreSQL)
LOG_DB_ENABLED=true
LOG_DB_HOST=localhost
LOG_DB_PORT=5432
LOG_DB_USER=postgres
LOG_DB_PASS=password
LOG_DB_NAME=health_circle
LOG_DB_TABLE=_logs
LOG_DB_SSL=false
LOG_STD_OUT=true
LOG_LEVEL=info

## Security
SERVER_SECRET=SERVER_SECRET_VALUE
SERVER_SALT=SERVER_SALT_VALUE

MAX_FAILED_LOGIN_ATTEMPTS=5

ACCESS_TOKEN_SECRET=ACCESS_TOKEN_SECRET_VALUE
ACCESS_TOKEN_TTL=900
REFRESH_TOKEN_SECRET=REFRESH_TOKEN_SECRET_VALUE
REFRESH_TOKEN_TTL=2592000

## Confirmations TTL
RESET_PASSWORD_TOKEN_TTL=86400
SETUP_PASSWORD_TOKEN_TTL=86400

## Email
RESEND_API_KEY=key
EMAIL_FROM=email

## Storage
EXTERNAL_FILES_PATH=file-storage
CRON_MISSED_FILES_RULE=0 1 * * 0
CRON_MISSED_FILES_ENABLED=false
CRON_UNLINKED_FILES_RULE=0 0 * * *
CRON_UNLINKED_FILES_ENABLED=false

## Firebase
FIREBASE_PROJECT_ID=id
FIREBASE_CLIENT_EMAIL=email
FIREBASE_PRIVATE_KEY=key

## Status & Roll-call
STATUS_EXPIRY_HOURS=8
ROLL_CALL_TIMEOUT_MINUTES=60
PERSONAL_ROLL_CALL_GRACE_MINUTES=15
